.page-wrapper {
  padding: 3rem 0;
  width: 85%;
  min-height: 100vh;
  max-width: 1660px;
  margin-left: auto;
  margin-right: auto;
}

.header-title {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--text);
}

@media (max-width: 1520px) {
  .page-wrapper {
    width: 95%;
  }
}
