:root {
  --text: #444444;
  --text-light: #838383;
  --text-white: #fffcf9;
  --bg: #ffffff;
  --border: #d1d1d1;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --font: "Roboto", sans-serif;
  --border-radius: 0.2rem;
  --header-height: 70px;
}

/* border box */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 16px/1.7 var(--font);
  color: var(--text);
  background-color: var(--bg);
}

.teal-color {
  color: #52bda4;
}
